@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(bg.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    padding-top: 70px;
}

.container{
    height: auto;
    width: 600px;
    background-color: rgba(181, 163, 163, 0.29);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 30px;
}

.container::-webkit-scrollbar{
    width: 10px;
    display: none;
}
.container::-webkit-scrollbar-track{
    background-color: transparent;
}
.container::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 10px;
    border: 3px solid rgba(181, 163, 163, 0.29);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.heading{
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: orange;
    backdrop-filter: blur(10px);
}

.container h2{
    
    font-size:xx-large;
    


}

.container form{
    display: grid;
    grid-template-columns: 0% 20%;
    grid-gap:10px;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 10px;
}
.container form >label {
    align-self: center;
    display: block;
    font-size: 22px;
    color: #333;
    margin-bottom: 8px;
}

.container form input{
    grid-column: 3;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.container form input:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}
.container form #button{
    position: relative;
    left:25%;
    margin-top: 10px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    padding-bottom: 25px;
    width: 150px;
    background:#007bff ; 
    color: #fff;
    font-size: medium;
    border-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

}
.container form #button:active{
    background-color: #fff;
    color: #007bff;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
